/*CSS STYLESHEET FOR LLL/NOFLASH*/
#master_container
{
	margin: 0 auto;
	width: 1400px;
	height: 1080px;
	background-color: white;
}

section{
	margin:0 auto;
	width:800px;
	height:600px;
}

#chrome_container
{

	height:768px;
	width: 1024px;
	z-index:100;
	position:absolute;
	top:50px;
	background: url('../images/chrome.png') no-repeat; 
}

#screen_container
{
	position:relative;
	top:80px;
	left:180px;
	z-index:99;
}




#subtitle_container
{
}

#coach_window
{
}

#title
{
	border: 17px solid #1725BF;
	height: 10px;
	width: 500px;
}
