/*CSS STYLESHEET FOR LLL/NOFLASH*/
#master_container{
	font-family:'Open Sans', sans-serif;
	margin: 0 auto;
	width: 1400px;
	height: 1080px;
	background-color: white;
}

section{
	margin:0 auto;
	width:800px;
	height:600px;
}

#chrome_container{

	height:480px;
	width: 800px;
	z-index:100;
	position:absolute;
	top:50px;
	background: url('../images/chrome.png') no-repeat; 
}

#screen_container{
	position:relative;
	top:130px;
	left:-50px;
	z-index:99;
}

#subtitle_container{
	position:relative;
	z-index:100;
	height: 40px;
	width:800px;
	color:white;
	top:-220px;
	left:20px;
}

#coach_window{

}

#title{
	z-index:100;
	position:absolute;
	top:20px;
	left:10px;
	font-size:14px;
	height: 40px;
	width: 245px;
	color:black;
}

#pause{
	z-index:100;
	position:absolute;
	top:560px;
	left:440px;
}

/*Classes*/

.interactionLayer {
	position:relative;
	top:-330px;
	left:190px;
	width:580px;
	height:420px;
	z-index:106;
	opacity: 0.4;
}


